DX11Starter/.vs/DX11Starter/v15/ipch/AutoPCH/DX11STARTER-5b61b2cb/MAIN-3edccb84/MAIN.ipch
DX11Starter/.vs/DX11Starter/v15/ipch/AutoPCH/DX11STARTER-5b61b2cb/GAMEENTITY-81ebe4f6/GAMEENTITY.ipch
DX11Starter/.vs/DX11Starter/v15/ipch/AutoPCH/DX11STARTER-5b61b2cb/GAME-be039439/GAME.ipch
DX11Starter/.vs/DX11Starter/v15/ipch/AutoPCH/DX11STARTER-5b61b2cb/DXCORE-d3871f04/DXCORE.ipch
DX11Starter/.vs/DX11Starter/v15/ipch/AutoPCH/DX11STARTER-5b61b2cb/CAMERA-90d1f608/CAMERA.ipch
DX11Starter/.vs/DX11Starter/v15/Browse.VC.db
DX11Starter/.vs/DX11Starter/v15/ipch/AutoPCH/DX11STARTER-5b61b2cb/SIMPLESHADER-4d5f3fc0/SIMPLESHADER.ipch
DX11Starter/.vs/DX11Starter/v15/ipch/AutoPCH/DX11STARTER-5b61b2cb/RENDERER-e45483b6/RENDERER.ipch
DX11Starter/.vs/DX11Starter/v15/ipch/AutoPCH/DX11STARTER-5b61b2cb/MESH-89acc1cc/MESH.ipch
DX11Starter/DX11Starter/x64/Debug/vc141.idb
DX11Starter/DX11Starter/x64/Debug/DX11Starter.tlog/DX11Starter.lastbuildstate
DX11Starter/DX11Starter/x64/Debug/DX11Starter.tlog/CL.write.1.tlog
DX11Starter/DX11Starter/x64/Debug/DX11Starter.tlog/CL.read.1.tlog
DX11Starter/DX11Starter/x64/Debug/DX11Starter.tlog/CL.command.1.tlog
DX11Starter/DX11Starter/x64/Debug/DX11Starter.tlog/fxc.write.1.tlog
DX11Starter/DX11Starter/x64/Debug/DX11Starter.tlog/fxc.read.1.tlog
DX11Starter/DX11Starter/x64/Debug/DX11Starter.tlog/fxc.command.1.tlog
DX11Starter/DX11Starter/x64/Debug/DX11Starter.tlog/DX11Starter.write.1u.tlog
DX11Starter/DX11Starter/x64/Debug/vc140.idb
DX11Starter/DX11Starter/x64/Debug/renderer.obj.enc
DX11Starter/DX11Starter/x64/Debug/DX11Starter.tlog/link.write.1.tlog
DX11Starter/DX11Starter/x64/Debug/DX11Starter.tlog/link.read.1.tlog
DX11Starter/DX11Starter/x64/Debug/DX11Starter.tlog/link.command.1.tlog
DX11Starter/x64/Debug/
DX11Starter/.vs/
DX11Starter/DX11Starter/Assets/
DX11Starter/packages/
DX11Starter/DX11Starter/x64/
DX11Starter/Debug/
DX11Starter/ucrtbased.pdb/5772B3D402E979C2B4F814D24BF8B1682/download.error
DX11Starter/DX11Starter/Debug/
